@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 768px) {
    /* CSS styles for screens with a maximum width of 768px */
    @media screen and (max-width: 600px) {
      /* your CSS styles for smaller screens */
      
    }
    @media screen and (min-width: 600px) and (max-width: 900px) {
      /* your CSS styles for medium-sized screens */
    }
    @media screen and (min-width: 1200px) {
      /* your CSS styles for larger screens */
    }
    @media (max-device-width: 768px) {
      /* your CSS styles for smaller devices */
    }
    @media (min-device-width: 1024px) {
      /* your CSS styles for larger devices */
    }
    @media (orientation: landscape) {
      /* your CSS styles for landscape mode */
    }
    .container {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
    }            
  }
  /* frontend/styles/globals.css */
  body {
    font-family: 'Poppins', sans-serif, bold;
  }

header {
  background-color: #333;
  padding: 1rem;
  color: white;
}

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}
/* styles/globals.css */
a {
  color: blue; /* Choose your desired link color */
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: red; /* Choose your desired hover color */
}
/* CSS in your stylesheet */


