
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black; /* Set the background color to black */
  color: white; /* Set the text color to white or your preferred color */
}

